__pycache__/
*.pyc
.env
*.db
.venv/
venv/
node_modules/
.DS_Store
.idea/
.vscode/assets/videos/
*.mp4
*.webm
*.mov
assets/**/*.jpg
assets/**/*.jpeg
assets/**/*.png
assets/**/*.svg
assets/parceiros/
*.pdf
*.glb
*.zip
